<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-US">
    <head>        
        <!-- Metadata for SEO -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="author" content="Jonathan Obi, Andrew Robinson">
        <meta name="Description" content="Creatively Named Playlist Converter">
        <meta property="og:title" content="Home">
        <meta property="og:type" content="website">

        <title>Creatively Named Playlist Converter</title>
        <link rel="stylesheet" href="mainstyle.css" media="screen">
        <link rel="stylesheet" href="simplestyle.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">    
        <style>
          #animation_container {
          position:absolute!important;
          margin:auto!important;
          left:0;right:0!important;
          top:0;bottom:0!important;
          z-index: 30;
          }
        </style> 
        <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
        <script src="gif.js?1664473678391"></script>
        <script>
        var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;
        function init() {
          canvas = document.getElementById("canvas");
          anim_container = document.getElementById("animation_container");
          dom_overlay_container = document.getElementById("dom_overlay_container");
          var comp=AdobeAn.getComposition("A96F0CFA5056FB4DBAECDD5BF38F5A57");
          var lib=comp.getLibrary();
          handleComplete({},comp);
        }
        function handleComplete(evt,comp) {
          //This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.
          var lib=comp.getLibrary();
          var ss=comp.getSpriteSheet();
          exportRoot = new lib.Untitled1();
          stage = new lib.Stage(canvas);	
          //Registers the "tick" event listener.
          fnStartAnimation = function() {
            stage.addChild(exportRoot);
            createjs.Ticker.framerate = lib.properties.fps;
            createjs.Ticker.addEventListener("tick", stage);
          }	    
          //Code to support hidpi screens and responsive scaling.
          AdobeAn.makeResponsive(true,'both',false,1,[canvas,anim_container,dom_overlay_container]);	
          AdobeAn.compositionLoaded(lib.properties.id);
          fnStartAnimation();
        }
        </script>
      </head>
      
      <body class="u-body u-xl-mode" data-lang="en" style="margin:0px;">

        <div id="animation_container" style="background-color:rgba(255, 255, 255, 0.00); width:314px; height:181px">
          <canvas id="canvas" width="314" height="181" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 0.00);"></canvas>
          <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:314px; height:181px; position: absolute; left: 0px; top: 0px; display: block;">
          </div>
        </div>  
        

           
        <script src="mainscript.js"></script>
        <script type="text/javascript" defer>
          window.onload = function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            if(urlParams.has('link')) {
              getLink2(null, urlParams.get('link'));
            }
          };
        </script>
      
        <header class="u-clearfix u-grey-30 u-header u-header custom-scrollbar" id="sec-c5a4"><div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
          
          <a href="/" data-page-id="25215025"  class="u-image u-logo u-image-1" data-image-width="183" data-image-height="182" title="Main">
            <img src="images/Asset6.png" class="u-logo-image u-logo-image-1" id="u-logo-link">
          </a>
          <form action="javascript:void(0);" onsubmit="getlink2(event, this); return false;" class="u-radius-26 u-search u-search-right u-white u-search-1 " id="u-search-1" style="display: none;">
            <button class="u-search-button" type="submit" onclick="getLink2(event, this.parentElement.elements.search.value);" >
              <span class="u-file-icon u-search-icon u-spacing-10 u-search-icon-1">
                <img src="images/271226.png" alt="">
              </span>
            </button>
            <input class="u-custom-font u-search-input u-search-input-1" name="search" id="u-search-input-1" value="" placeholder="Enter playlist url">
          </form>
    
          <p class="u-custom-font u-text u-text-default u-text-1" id="fittext1" >
            Welcome to the <br> Creatively Named Playlist Converter
          </p>

          <form action="javascript:void(0);" onsubmit="getlink2(event, this); return false;" class="u-form u-radius-26 u-search u-search-right u-white u-search-2" id="u-search-2">
            <button class="u-search-button" type="submit" onclick="getLink2(event, this.parentElement.elements.search.value);">
              <span class="u-file-icon u-search-icon u-spacing-10 u-search-icon-2">
                <img src="images/271226.png" alt="">
              </span>
            </button>
            <input class="u-custom-font u-search-input u-search-input-2" name="search" id="u-search-input-2" value="" placeholder="Enter playlist url">
          </form>

          <!-- if loggedIn = true, then this button will instead call on the add to spotify method -->
          <% if (loggedIn === true) { %>
            <a href="#" onclick="addToSpotify()" class="u-btn u-btn-round u-button-style u-custom-font u-hover-palette-1-light-1 u-palette-1-base u-radius-26 u-btn-1" id="addToSpot" style="display: none;">Add Playlist to Spotify</a>
          <% } else { %>
            <!-- else, login and return here -->
            <a href="/login" class="u-btn u-btn-round u-button-style u-custom-font u-hover-palette-1-light-1 u-palette-1-base u-radius-26 u-btn-1" id="login-button" style="display: none;">Login with Spotify to Add to Library</a>
          <% } %>
        </div>
        <section class="u-align-center u-clearfix u-section-1" id="sec-6525">
          <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width-sm u-expanded-width-xs u-table u-table-responsive u-table-1" id="u-table" style="display: none;">
              <table class="u-table-entity u-table-entity-1 ">
                
                <thead class="u-custom-font u-table-header u-table-header-1">
                  <tr>
                    <th class="u-table-cell u-table-cell-1">Title</th>
                    <th class="u-table-cell u-table-cell-2">Artist</th>
                    <th class="u-table-cell u-table-cell-3" style="text-align: center;"><i class='fas fa-clock' style='color: white'></i></th>
                  </tr>
                </thead>
                <tbody class="u-align-left u-custom-font u-table-body u-table-body-1" id="container__item2_tbody">
                </tbody>
                <template id="songrow">
                  <tr>
                    <td><a id="songrow__name"></a></td>
                    <td><a id="songrow__artist"></a></td>
                    <td id="songrow__duration"></td>
                  </tr>
                </template>
              </table>
            </div>
          </div>
        </section>
      </header>
      <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9bc7">
        <div class="u-align-left u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
          <span>If you would like to support us, click <span style="text-decoration: underline;">here</span><span>
        </div>
      </footer>
    
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      
      
    </body>
</html>