<!DOCTYPE html>
<html lang="en-US">
    <head>        
        <!-- Metadata for SEO -->
        <meta charset="utf-8">
        <meta name="author" content="Andrew Robinson">
        <meta name="Description" content="Creatively Named Playlist Converter -- backend testing">

        <title>Creatively Named Playlist Converter -- backend testing</title>
    </head>
    <body>
        <a href="/login">Login With Spotify</a>
    </body>
</html>