<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="AlphaFrontEnd.css">
    </head>
    <body>
        <div class="container">
            <div class="container__item" id="container__item" >
                <form class="form">
                    <input type="url" class="form__field" id="form__field" placeholder="Paste Playlist Link Here" />
                    <button type="button" class="btn btn--primary btn--inside uppercase" onclick="getLink();">Send</button>
              
                    <p id="error"></p>
                </form>
            </div>

            <div class="loader" id="loader" style="display: none;">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>

            <!-- template doesn't get rendered, but makes it easier to add elements with DOM -->
            <template id="songrow">
                <tr>
                    <td id="songrow__name"></td>
                    <td id="songrow__artist"></td>
                    <td id="songrow__duration"></td>
                </tr>
            </template>

            <div class="container__item2" id="container__item2" style="overflow-x:auto; display: none;">
                <table class="blue">
                    <thead>
                        <tr>
                            <th>Track</th>
                            <th>Artist</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody id="container__item2_tbody">
                        <!--<tr>
                            <td>What Could Have Been feat. Ray Chen (from the series Arcane League of Legends)</td>
                            <td>Sting</td>
                            <td>3:33</td>
                        </tr>
                        <tr>
                            <td>Seaching For A Feeling</td>
                            <td>Thirdstory</td>
                            <td>3:49</td>
                        </tr>-->            
                    </tbody>
                </table>
            </div>
          
            <div class="container__item container__item--bottom">
          
            </div>
        </div>
    </body>

    <script src = "AlphaFrontEnd.js"></script>
    <script src = "PlaylistData.js"></script>

</html>
