//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

/*functions*/
.uppercase {
  text-transform: uppercase;
}
.float-right {
  float: right;
}

//** root
:root {
  color: $text;
  font: 1rem "PT Sans", sans-serif;
  background: linear-gradient(45deg, #49a09d, #5f2c82)!important;
  background-attachment: fixed!important;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}


body, html {
  height: 100%;
  
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-color: #000;
  min-height: 45%;
}


//** helper
.container {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  
}



.container__item2{
  margin-top: 70px;
  margin-bottom: 50px; 
}

a {
  color: inherit;
  &:link{
    text-decoration: none;
  }
  &:hover {
    color: $button-bg-color;
  }
}


/*error */
#error , #error2{
  text-transform: uppercase;
  color: #000;
  margin-top: 5px;
}



//** button

.btn, .btn2 {
  display: inline-block;
  background: transparent;
  color: #fff;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  
  &--primary {
    background: transparent;
    color: #fff;
    border-radius: 2px;
    padding: 12px;
    
    &:hover {
      color: #a3a3a3;
    }
    
   
  }
  
  &--inside {
    margin-left: -45px;
  }
}


/* form */
.form,.form2 { 
  display: inline-flex;  
    &__field {
    width: 360px;
    max-width: 100%;
    background: #0f2130;;
    color: $input-text-color;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 0.75rem 3.25rem 0.75rem 1.5rem;
    border-radius: 1.5rem;
    
  }
}

#container__item2_tbody a {
  color: #fff;
}


/*table*/

table{
	border-collapse: collapse!important;
	box-shadow: 0 0 20px rgba(0,0,0,0.1)!important;
  table-layout: fixed!important;
  //overflow: hidden;
}

th,td{
  text-align: left!important;
  word-wrap: normal!important;
  padding: 15px!important;
	background-color: rgba(255,255,255,0.2)!important;
	color: #fff!important;
 
}

th {
  text-align: left!important;
}

thead {
  top: 0!important;
  z-index: 100!important;
  background-color: #fff!important;
  th {
		background-color: #55608f!important;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3)!important;
		}
	}
}

/*Playlist Info*/

.container__item3 h1 { 
  font-family: 'Enriqueta', arial, serif; 
  line-height: 1.25; 
  margin: 0 0 10px; 
  font-size: 40px; 
  font-weight: bold; 
  color: #fff;
}

.container__item3{
  margin-top: 50px;
}

 


/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
  
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body::-webkit-scrollbar-track-piece
{
   display:none;
}




