.u-section-1 {
    background-image: none;
    background-color: none;
  }
  
  .u-header {
    background-color: #181818!important;
  }
  
  .u-section-1 .u-sheet-1 {
    
  }
  
  .u-section-1 .u-table-1 {
    width: 955px;
    margin: 30px auto -90px;
  }
  
  .none {
    display: none;
  }
  
  .u-table-header {
   
    border-bottom: 1px solid #301934;
  
  }
  
  .u-section-1 .u-table-entity-1 {
    padding: 15px;
    min-height: 100px;
  }
  
  .u-section-1 .u-table-header-1 {
    background-image: none;
    font-family: CirclarStd-Black;
  }
  
  .u-section-1 .u-table-body-1 {
    font-family: CircularStd-Light;
  }
  
  .u-footer{
    background-color: #301934;
    min-height: 50px;
    font-family: CircularStd-Black;
  }
  
  
  @media (max-width: 1199px) {
    .u-section-1 .u-table-1 {
      width: 940px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-table-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-table-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }@font-face {
    font-family: 'CircularStd-Black';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Black.otf);
  }@font-face {
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Book.otf);
  }@font-face {
    font-family: 'CircularStd-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Bold.otf);
  }
  
  @font-face {
    font-family: 'CircularStd-Light';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Light.otf);
  }