.u-section-1 {
    background-image: none;
    background-color: none;
  }
  
  .u-header {
    background-color: #181818!important;
    z-index: -1;
  }
  
 
  
  .u-section-1 .u-table-1 {
    width: 955px;
    margin: 30px auto -90px;
  }
  
  .none {
    display: none;
  }
  
  .u-table-header {
   
    border-bottom: 1px solid #301934;
  
  }
  
  .u-section-1 .u-table-entity-1 {
    padding: 15px;
    min-height: 100px;
  }
  
  .u-section-1 .u-table-header-1 {
    background-image: none;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
  }
  
  .u-section-1 .u-table-body-1 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
  }
  
  .u-footer{
    background-color: #301934;
    min-height: 50px;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 800;
    font-style: normal;

  }
  
  
  @media (max-width: 1199px) {
    .u-section-1 .u-table-1 {
      width: 940px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-table-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-table-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url("https://use.typekit.net/ykr8ccq.css");